# macos finder cache files.
.DS_Store

# android studio cache files.
host_android/**/*.iml
host_android/**/.cxx/
host_android/**/.externalNativeBuild/
host_android/**/.gradle/
host_android/**/.idea/
host_android/**/build/
host_android/**/local.properties

# xcode cache files.
host_ios/**/build/
host_ios/**/xcuserdata/
host_osx/**/build/
host_osx/**/xcuserdata/

# visual studio cache files.
host_win32/**/*.vcxproj.user
host_win32/**/Debug/
host_win32/**/Release/
host_win32/**/x64/
host_win32/.vs/

# gnu toolchain cache files.
host_linux/makefile
host_linux/mini
host_linux/objs/

# node.js project local files.
appts/app/host/native.ts
appts/node_modules/
appts/package-lock.json

# the framework built files.
appres/mini.bundle/bundle.js
BUILD/
